# Dependencies
node_modules/
/frontend/node_modules/
/frontend/dist/

# Environments & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

# Databases
*.db
*.sqlite
*.sqlite3

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
